@import "_mixins.scss";
@import "_overrides.scss";

#introduction {
  background-color: var(--bg-secondary);
  margin: 30vh 0px;
  margin-bottom: 40vh;
  //margin-bottom: 3vh;
  padding: 4vh 0px;
  flex-direction: unset;
}

#about {
  max-width: 50em !important;
  margin: auto;
  margin-top: 40vh;
  //margin-top: 7vh;
  margin-bottom: 10em;

  .container {

    #about-me-skills {
      text-align: right;
      @include breakpoint(medium_devices) {
        text-align: center;
      }
    }
    #about-me-description {
      text-align: left;
      @include breakpoint(medium_devices) {
        text-align: center;
      }
    }
    #about-me-cv-button {
      max-width: 60vw;
    }

  }
}

#projects {
  //max-width: 50em !important;
  max-width: 55em;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 10em;
  #projects-more-button {
    max-width: 60vw;
  }
}

#projects .project-item {
  @include breakpoint(medium_devices) {
    min-width: 80vw;
    margin-left: 0;
    margin-right: 0;
  }
}

#projects .project-item-row {
  @include breakpoint(medium_devices) {
    justify-content: center;
  }
}

#projects .project-item-video {
  @include breakpoint(medium_devices) {
    min-width: 80vw;
    padding-left: 0;
    padding-right: 0;
    //justify-content: center;
  }
}

#experience {
  max-width: 50em !important;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 10em;
}

#contact {
  max-width: 50em !important;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 10em;
}

#footer {
  margin-top: 50px;
}

#background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.0);
  color: rgba(255, 255, 255, 0.1);
  
  z-index: -1;
}

#introduction-renderer-section {
  position: relative;
}

#introduction-renderer {
  //position: absolute;
  display: block;
  z-index: -1;
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.section-slide-2 {
  content: " ";
  width: 100%;
  bottom: 0;
  top: 0;
  // linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%)
  // linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06))
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 5px 10px, 4px 30px;
}